@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: "Roboto";
    
    
}

/* ///////////////////////// Header ////////////////////// */
main {}

header h2 {
    background-color: #1CD1B0;
    margin: 0;
    padding: 0 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

header h1 {
    background-color: #00669F;
    margin: 0;
    padding: 30px 20px;
    font-weight: 400;
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.442);
    font-weight: 600;


}

/* ///////////////////////// Main /////////////////// */
main {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card1,
.card3,
.card2 {
    margin-top: 150px;
    width: 300px;
    height: 529px;
    background-image: url(../img/fondo1.png);
    background-size: 300px 194px;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.442);
    position: relative;
}

.card2 {
    background-image: url(../img/fondo2.png)
}



.like {

    position: absolute;
    top: 20px;
    left: 20px;

}


.heroe {
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 85px;

}


.texto-card {
    position: absolute;
    text-align: center;
    bottom: 10px;
    padding: 20px;
    
}

button {
    margin-top: 20px;
    background-color: #00669F;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    
}



/* /////////////////////// Footer //////////////////// */

h3 {

    bottom: 100px;
    margin: 0;
    margin-top: 150px;
    background-color: #00669F;
    font-size: 16px;
    padding: 10px 20px;
}